@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --darkColor: #515151;
    --lightColor: #fff;
    --lightBlueColor: #3498db;
    --lighGreenColor: #1abc9c;
}

body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	/*align-items: center;*/
	/*align-content: center;*/
    width: 100%;
    height: 100vh
}

/*header section*/
#header{
    color: var(--lightColor);
    width: 100%;
    
}

#navbar{
    background-color: var(--lightBlueColor) ;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    width: 100%;
    height: 57px;
}
.Title{
    font-family: rosario ;
    font-size: 28px;
}

.Text{font-family: roboto;

}

.user{
    font-size: 25px;
    width: 22px;
    height: 29px;
    color: var(--lightColor);
    margin-top: 15px;
    margin-right:20px 
    
}

#T1{
    margin-left: 18px;
    margin-top: 10px
    
}

#joinUs{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
    background-image: url(./project-01-images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 375px;
}

#T2{
    margin-top: 180px;
    margin-left: 18px    
}

#joinUsbutton{
    background-color: var(--lightColor) ;
    height: 40px;
    width: 129px;
    border:0;
    border-radius: 0 9px 0 9px;
    padding: 3px;
    font-size: 22px;
    line-height: 26px;
    margin-top: 10px;
    margin-left: 99px;*/
}

/* main section*/

main{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;*/
	align-content: stretch;
}
#dream{
    width: 219px;
    height: 29px;
    margin-top: 11px;
    font-size: 24px;
}

#firstGroup{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    font-family: roboto; 
    width: 100%;
    height: 220px;
    margin-bottom:5px;
}

.article{
    font-size: 14px;
    color: var(--lightColor);
    background-repeat: no-repeat;
    background-size: cover;
    margin:5px 5px;
}
#article1{
    background-image: url(./project-01-images/3.jpg);
    width: 100%;
    height: 100%;
    }
#article2{
    background-image: url(./project-01-images/4.jpg);
    width: 100%;
    height: 100%;
    }
#article3{
    background-image: url(./project-01-images/5.jpg);
    width: 100%;
    height: 100%;
    }

#article4{
    width: 100%;
    height: 100%;
    margin: 0px 25px;
    background-image: url(./project-01-images/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border:1px solid
    position: absolute;
    color: var(--lightColor)     
}
main h1{
    margin-left:6px;
    margin-top:160px;
}
h4{
    margin-left:6px;
    margin-top:5px;
}

#LearnMorebutton{
    border:0;
    border-radius: 9px;
    width: 90px;
    height: 25px;
    font-size: 12px;
    margin-left: 6px;
    margin-top:10px;
    margin-bottom: 0px;
}


/*secound section*/

#section{     
    width: 100%
    height: 286px;
    margin-bottom: 10px;
    padding: 5px 0px;
    background-color:var(--lighGreenColor)
}
#SectionTitle{
    margin-top: 10px;
    margin-left: 5px;
    font-size: 24px;
}
#SecoundGroup{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.image{
    margin: 0px 5px;
    width: 210px;
    height: 150px;
}
.article2{
    width: 100%;
    height: 260px;
    margin: 40px 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: var(--lightColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.like{
    font-size: 30px; 
    position: absolute;
    margin-top: 20px;
    margin-left: 140px;
    color: var(--lightColor);
}

.sFont{
    font-size: 12px;
    margin-bottom: 10px;
}
.bFont{
    font-size: 14px;
    text-align: center;
}  

/*footer section*/

footer{
    background-color: var(--lightColor);
    color: var(--darkColor)
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#container{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin-left: 15px;
}
#footerbotton{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch; 
    margin-top: 5px;
}

.button{
    background-color: var(--lightColor);
    border:0;
    height: 10px
    width: 100px
    font-size: 10px;
    margin-left: 5px;
}

select{
    margin-left: 5px
}

#SocialLink{
    display: flex;
	flex-direction: row;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 8px
}

#footerlink{
    display: flex;
	flex-direction: row;
	margin-left: 10px;
    margin-top: 10px;
}

.fText{
    font-size: 10px;
    margin-left: 5px;
    margin-top: 10px;
    color: var(--lightBlueColor)
}

.social{
    font-size: 12px;
}
.fab{
    margin-left: 10px;
}

#FooterText{
    font-size: 8px;
    margin-top: 10px;
    margin-left: 20px;
}

